In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
dataset = pd.read_csv('chess_alldata.csv')

In [3]:
dataset.head()

,White-King-column,White-King-row,White-Rook-column,White-Rook-row,Black-King-column,Black-King-row,CLASS
0,a,1,b,3,c,2,draw
1,a,1,c,1,c,2,draw
2,a,1,c,1,d,1,draw
3,a,1,c,1,d,2,draw
4,a,1,c,2,c,1,draw

In [4]:
dataset.describe()

       White-King-row  White-Rook-row  Black-King-row
count    28056.000000    28056.000000    28056.000000
mean         1.854006        4.512404        4.451811
std          0.926414        2.282723        2.248387
min          1.000000        1.000000        1.000000
25%          1.000000        3.000000        3.000000
50%          2.000000        5.000000        4.000000
75%          2.000000        6.000000        6.000000
max          4.000000        8.000000        8.000000

In [5]:
dataset.isnull().sum()

White-King-column    0
White-King-row       0
White-Rook-column    0
White-Rook-row       0
Black-King-column    0
Black-King-row       0
CLASS                0
dtype: int64

In [6]:
dataset.replace({"White-King-column":{'a':0,'b':1,'c':2,'d':3}}, inplace=True)

In [7]:
dataset.replace({"White-Rook-column":{'a':0,'b':1,'c':2,'d':3,'e':4,'f':5,'g':6,'h':7}}, inplace=True)

In [8]:
dataset.replace({"Black-King-column":{'a':0,'b':1,'c':2,'d':3,'e':4,'f':5,'g':6,'h':7}}, inplace=True)

In [9]:
dataset.replace({"CLASS":{'draw':20,'zero':0,'one':1,'two':2,'three':3,'four':4,'five':5,'six':6,'seven':7,'eight':8,'nine':9,'ten':10,'eleven':11,'twelve':12,'thirteen':13,'fourteen':14,'fifteen':15,'sixteen':16}}, inplace=True)

In [10]:
dataset.head()

,White-King-column,White-King-row,White-Rook-column,White-Rook-row,Black-King-column,Black-King-row,CLASS
0,0,1,1,3,2,2,20
1,0,1,2,1,2,2,20
2,0,1,2,1,3,1,20
3,0,1,2,1,3,2,20
4,0,1,2,2,2,1,20

In [11]:
x=dataset.drop(columns=['CLASS'],axis=1)

In [12]:
y=dataset['CLASS']

In [13]:
print(y)

0        20
1        20
2        20
3        20
4        20
         ..
28051    16
28052    16
28053    16
28054    16
28055    16
Name: CLASS, Length: 28056, dtype: int64

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [35]:
model = svm.SVC(C=5)

In [36]:
 model.fit(x_train, y_train)

SVC(C=5)

In [40]:
x_test_prediction=model.predict(x_test)

In [41]:
accuracy_test = accuracy_score(x_test_prediction,y_test)

In [42]:
accuracy_test

0.594867529998812