In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [2]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [3]:
train_data.head()

,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx,CLASS
0,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8,T
1,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10,I
2,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9,D
3,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8,N
4,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10,G

In [7]:
def alphabet_to_number(char):
    if char.isalpha():
        return ord(char.upper()) - ord('A') + 1
    else:
        return char
train_data['CLASS'] = train_data['CLASS'].apply(lambda x: ''.join(map(str, [alphabet_to_number(char) for char in x])))

In [8]:
train_data.head()

,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx,CLASS
0,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8,20
1,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10,9
2,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9,4
3,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8,14
4,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10,7

In [9]:
def alphabet_to_number(char):
    if char.isalpha():
        return ord(char.upper()) - ord('A') + 1
    else:
        return char
test_data['CLASS'] = test_data['CLASS'].apply(lambda x: ''.join(map(str, [alphabet_to_number(char) for char in x])))

In [10]:
test_data.head()

,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx,CLASS
0,4,10,6,7,9,9,6,4,3,6,7,7,9,8,5,6,21
1,6,9,8,4,3,8,7,3,4,13,5,8,6,8,0,8,14
2,6,9,8,8,10,7,7,5,4,7,6,8,7,9,7,10,22
3,5,6,6,4,3,7,6,2,7,7,6,9,0,9,4,8,9
4,5,9,7,6,4,9,7,3,5,10,4,6,5,8,1,7,14

In [12]:
train_data.isnull().sum()

x-box    0
y-box    0
width    0
high     0
onpix    0
x-bar    0
y-bar    0
x2bar    0
y2bar    0
xybar    0
x2ybr    0
xy2br    0
x-ege    0
xegvy    0
y-ege    0
yegvx    0
CLASS    0
dtype: int64

In [13]:
test_data.isnull().sum()

x-box    0
y-box    0
width    0
high     0
onpix    0
x-bar    0
y-bar    0
x2bar    0
y2bar    0
xybar    0
x2ybr    0
xy2br    0
x-ege    0
xegvy    0
y-ege    0
yegvx    0
CLASS    0
dtype: int64

In [14]:
x =train_data.drop(['CLASS'],axis=1)
x

,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx
0,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,4,9,4,6,1,0,0,6,6,0,1,5,0,8,0,8
15996,4,6,6,4,6,8,6,7,3,7,5,7,4,7,7,7
15997,8,14,7,8,4,8,4,5,3,8,4,5,4,7,5,8
15998,4,7,5,5,3,7,7,2,9,11,6,9,2,8,5,8
15999,2,1,3,2,1,6,8,7,7,8,8,13,1,9,4,10

In [15]:
y = train_data['CLASS']
y

0        20
1         9
2         4
3        14
4         7
         ..
15995    12
15996    18
15997     7
15998     5
15999     3
Name: CLASS, Length: 16000, dtype: object

In [19]:
x_test =test_data.drop(['CLASS'],axis=1)
x_test

,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx
0,4,10,6,7,9,9,6,4,3,6,7,7,9,8,5,6
1,6,9,8,4,3,8,7,3,4,13,5,8,6,8,0,8
2,6,9,8,8,10,7,7,5,4,7,6,8,7,9,7,10
3,5,6,6,4,3,7,6,2,7,7,6,9,0,9,4,8
4,5,9,7,6,4,9,7,3,5,10,4,6,5,8,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7
3996,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7
3997,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4
3998,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8
3999,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8

In [41]:
rf_model = RandomForestClassifier(n_estimators=50)

In [42]:
rf_model.fit(x, y)

RandomForestClassifier(n_estimators=50)

In [43]:
rf_predictions = rf_model.predict(x_test)

In [44]:
svm = SVC(kernel='linear', C=2)

In [45]:
svm.fit(x, y)

SVC(C=2, kernel='linear')

In [46]:

svm_predictions = svm.predict(x_test)

In [47]:
rf_accuracy = rf_model.score(x_test, y)
svm_accuracy = svm.score(x_test, y)

In [48]:
print('Random Forest accuracy:', rf_accuracy)
print('SVM accuracy:', svm_accuracy)

Random Forest accuracy: 1.0
SVM accuracy: 0.90225

In [37]:
import seaborn as sns